 <!-- Footer -->
 <footer class="bg-light text-center text-lg-start border border-dark border-top mt-5">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">About</h5>

          <p>
            This web site created by mebdoua habib Hopefully this site will be useful to people,
            you should know that web site have full access to use your articles if let it saved
            in the database,
            Thanks
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-9 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0 m-1 border border-dark border-bottom">Contact</h5>

          <ul class="list-unstyled">
            <li>
              <a class=" text-dark h5" target="_blank" href="https://www.facebook.com/habibameur00"><i class="fab fa-facebook-square"></i> Facebook</a>
            </li>
            <li>
              <a class=" text-dark h5" target="_blank" href="https://github.com/HabibMebdoua"><i class="fab fa-github"></i> Github</a>
            </li>
            <li>
              <a class=" text-dark h5"  target="_blank" href="https://mail.google.com/"><i class="fas fa-envelope"></i> Gmail</a>
            </li>
            <li>
              <a href="https://www.paypal.com/" class="text-dark h5"><i class="fab fa-paypal"></i> Paypal <small class="text-muted" >habib mebdoua</small></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-2 bg-dark text-light">
      © 2020 Copyright : 
      <a class="text-light" href="">Mebdoua ameur habib</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
