{% load static %}

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark p-2 mb-4">
    <a class="navbar-brand" href="#" style="font-size: 30px;">Articles Hub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog' %}"><i class="fas fa-blog"></i> Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'write' %}"><i class="fas fa-pen"></i>  Write</a>
        </li>
      </ul>

    

      <ul class="navbar-nav mr-5">
        {% if user.username %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{%url 'user_articles'%}"><i class="fas fa-user"></i> My articles</a>
              <a class="dropdown-item" href="{%url 'logout'%}"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
          </li>
        {% endif %}
    </div>
</nav>