{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div class="container">  
    <div class="row">
        <div class="col-lg-8 border border-dark m-1 p-3 ">
            <h2>{{blog.title}}</h2>
            <hr>
            <p>{{blog.subject|safe}}</p>
        </div>
        <div class="col-lg-3">  
            <ul class="list-group  border-dark m-1">
                <li class="list-group-item active bg-dark txt-light border-dark h2">About</li>
                <li class="list-group-item"> <label>Creator :<span class="text-muted">Admin</span></label></li>
                <li class="list-group-item"><label>Date :<span class="text-muted">{{blog.date}}</span></label></li>
                <li class="list-group-item"><label><label>Views :<span class="text-muted">{{blog.views}}</span></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}