{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div class="container">  
    {% for article in article %}
    {% if article.save_for_you %}
    <div class="row m-1">
        <div class="col-lg-8 border border-dark p-2  mb-2" style="overflow: auto;">
            <a href="" class="h5">{{article.title}}</a><span class="text-muted">  crated by</span><span class="h5">  {{article.owner}}</span>
            <hr>
            <p>{{article.content|truncatewords:20|safe}}</p>
            <a href="{% url 'article_details' article.id %}" class="btn btn-lg btn-primary mt-2" style="float: right;"> See details <i class="fas fa-arrow-circle-right"></i></a>
            <small class="text-muted offset-4"> <i class="far fa-eye"></i> {{article.views}} persons read this article</small>
        </div>
    </div>
    {% endif %}
    {% empty %}
    <h1 class="text-center p-5 m-5">0 ruselts :(</h1>
    {% endfor %}   
  
</div>
{% endblock %}